@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root{
  --color-primary: #387780;
  --color-secondary: #D2CCA1;
  --color-background: #DBD4D3;
  --color-accent: #E83151;
}

@theme {
  /* Primary */
  --color-primary-50: #e6f2f3;
  --color-primary-100: #cce6e7;
  --color-primary-200: #99cccf;
  --color-primary-300: #66b3b7;
  --color-primary-400: #33999f;
  --color-primary-500: #387780;
  --color-primary-600: #2f636a;
  --color-primary-700: #264f55;
  --color-primary-800: #1d3c40;
  --color-primary-900: #14282b;
  --color-primary: var(--color-primary-500);

  /* Secondary */
  --color-secondary-50: #faf9f2;
  --color-secondary-100: #f5f3e6;
  --color-secondary-200: #ebe7cd;
  --color-secondary-300: #e0dab4;
  --color-secondary-400: #d6ce9b;
  --color-secondary-500: #d2cca1;
  --color-secondary-600: #bcb78e;
  --color-secondary-700: #a6a27b;
  --color-secondary-800: #908c68;
  --color-secondary-900: #7a7755;
  --color-secondary: var(--color-secondary-500);

  /* Background */
  --color-background-50: #f7f6f6;
  --color-background-100: #efeeee;
  --color-background-200: #dfdddd;
  --color-background-300: #cfcccc;
  --color-background-400: #bfbbbb;
  --color-background-500: #dbd4d3;
  --color-background-600: #bfb6b5;
  --color-background-700: #a39897;
  --color-background-800: #877b79;
  --color-background-900: #6b5e5b;
  --color-background: var(--color-background-500);

  /* Accent */
  --color-accent-50: #fee7eb;
  --color-accent-100: #fdd0d7;
  --color-accent-200: #faa1af;
  --color-accent-300: #f87287;
  --color-accent-400: #f5435f;
  --color-accent-500: #e83151;
  --color-accent-600: #c22945;
  --color-accent-700: #9c2139;
  --color-accent-800: #75192d;
  --color-accent-900: #4f1121;
  --color-accent: var(--color-accent-500);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Roboto", sans-serif;
  max-width: 1200px;
  margin: auto;
}
